.image {
  position: relative;
  display: block;

  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.image-rounded {
  img {
    border-radius: 100%;
  }
}

.image-responsive {
  img {
    object-fit: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
