.media {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.media-left {
  margin-right: 1rem;
}

.media-right {
  margin-left: 1rem;
}

.media-left, .media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  min-width: 0;
}
